# Engine temp & build
Binaries/
Intermediate/
DerivedDataCache/
Saved/
Build/

# IDE files
*.sln
.vs/
.idea/
.vscode/
*.DotSettings.user

Content/*

*.fbx
*.wav
*.mp3
*.mp4

!Content/ThirdPerson/
!Content/ThirdPerson/Blueprints/
!Content/ThirdPerson/Blueprints/**